@model ShoppingCart
<div class="px-5">
    <form method="post" asp-action="Details" asp-controller="Home">
        <input asp-for="@Model.ProductId" hidden />
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-dark-mode bg-gradient text-light py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-white text-uppercase">@Model.product.Title</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="py-3">
                    <div class="row">
                        <div class="col-6 col-md-2 offset-lg-1 pb-1">
                            <a asp-action="Index" class="btn btn-outline-dark bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                                <small>Back to home</small>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">

                                                                <!-- Slides -->
                            @if (Model.product.ProductImages != null && Model.product.ProductImages.Any())
                            {
                                <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">

                                        @foreach (var imageWithIndex in Model.product.ProductImages
                                       .Select((image, index) => new { Image = image, Index = index }))
                                        {
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index" 
                                            class="@(imageWithIndex.Index==0?"active":"")" aria-current="true" aria-label="Slide 1"></button>
                                        }


                                    </div>
                                    <div class="carousel-inner">
                                        @foreach (var imageWithIndex in Model.product.ProductImages
                                       .Select((image, index) => new { Image = image, Index = index }))
                                        {
                                            <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                                <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                            </div>
                                        }
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                            }



                        </div>
                        <div class="col-12 col-lg-6 offset-lg-1">
                            <div class="col-12 d-flex justify-content-between  pb-4">
                                <span class="badge small ">@Model.product.Category.Name</span>

                                <span class="" data-bs-toggle="modal" data-bs-target="#ratingModal" style="cursor:pointer;">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Model.product.Rating)
                                        {
                                            <i class="fa-solid fa-star text-warning"></i>
                                        }                                    
                                        else
                                        {
                                            <i class="fa-regular fa-star text-warning"></i>
                                        }
                                    }
                                    <span>/ @Model.product.Rating.ToString("0.0")</span>
                                </span>





                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50 ">Brand ~ @Model.product.Brand</h6>
                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50  pb-2">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @Model.product.ListPrice.ToString("c")
                                    </span>
                                </h6>
                            </div>
                            <div class="row text-center ps-2">
                                <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                    <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                    <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                    <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                    <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                                </div>
                            </div>
                            <div class="row text-center ps-2">
                                <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                    <div>Price</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                    <div>@Model.product.Price.ToString("c")</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                    <div>@Model.product.Price50.ToString("c")</div>
                                </div>
                                <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                    <div>@Model.product.Price100.ToString("c")</div>
                                </div>
                            </div>
                            <div class="row pl-2 my-3">
                                <p class="text-secondary lh-sm">@Html.Raw(Model.product.Description)</p>
                            </div>
                            <div class="row pl-2 mb-3">
                                <div class="col-md-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-dark text-white border-0 fw-semibold"
                                              id="inputGroup-sizing-default">
                                            Count
                                        </span>
                                        <input asp-for="@Model.Count" type="number" value="1" class="form-control text-end"
                                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 pb-1">
                                    <button type="submit"
                                            class="btn bg-gold text-dark bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-area="Customer" asp-controller="Product" asp-action="Rate" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ratingModalLabel">Rate this product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <input type="hidden" name="productId" value="@Model.product.Id" />

                        <div class="star-rating">
                            @for (int i = 5; i >= 1; i--)
                            {
                            
                                <input type="radio" name="rating" id="star-@i" value="@i" />
                                <label for="star-@i"><i class="fa-solid fa-star"></i></label>

                            }
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn text-dark bg-gold">Submit Rating</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
