@{
    var status = Context.Request.Query["status"];
    var InProcess = "text-white bg-dark";
    var Pending = "text-white bg-dark";
    var Completed = "text-white bg-dark";
    var Approved = "text-white bg-dark";
    var All = "text-white bg-dark";

    switch (status)
    {
        case "pending": Pending = "active text-white bg-warning"; break;
        case "inprocess": InProcess = "active text-white bg-warning"; break;
        case "completed": Completed = "active text-white bg-warning"; break;
        case "approved": Approved = "active text-white bg-warning"; break;
        default: All = "active text-white bg-warning"; break;
    }
}
<div class="card  border-0 shadow my-5 bg-dark-mode text-white">
    <div class="card-header bg-gradient   py-3 ms-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-white py-2"> Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item @InProcess">In Process</li>
                </a>
                <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item @Pending">Payment Pending</li>
                </a>
                <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item @Completed">Completed</li>
                </a>
                <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @Approved">Approved</li>
                </a>
                <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @All">All</li>
                </a>
            </ul>
        </div>
        <table id="tabledata" class=" table table-bordered table-dark table-striped">
            <thead>
                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/Order.js"></script>
}